<div class="header pb-8 pt-5 pt-lg-8" style="min-height: 100px; background-image: url(assets/img/theme/fondoucm.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">¡Crea una nueva oferta!</h1>
        <p class="text-white mt-0 mb-5">A continuación podrás crear una nueva oferta de trabajo que se publicará automáticamente en nuestro sistema.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl order-xl">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Datos de la Oferta</h3>
            </div>
            <div class="col-4 text-right">
              <a (click)=model.insertOpportunitySF() class="btn btn-sm btn-primary">Crear Oferta</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Información de la oferta</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Nombre de la oferta</label>
                    <input type="text" id="input-name" name="name" class="form-control form-control-alternative" placeholder="Nombre de la oferta" [(ngModel)]=model.name required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-closedate">Fecha de cierre</label>
                    <input type="date" id="input-closedate" name="closeDate" class="form-control form-control-alternative" placeholder="Fecha de cierre" [(ngModel)]=model.closeDate required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-type">Tipo</label>
                    <select class="custom-select" id="inputGroupSelect01" type="text" name="type" [(ngModel)]=model.type required>
                      <ng-container *ngFor="let item of vTypes;let i=index">
                        <option value="{{vTypes[i]}}">{{vTypes[i]}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-area">Área</label>
                    <select class="custom-select" id="inputGroupSelect02" type="text" name="area" [(ngModel)]=model.area required>
                      <ng-container *ngFor="let item of vAreas;let i=index">
                        <option value="{{vAreas[i]}}">{{vAreas[i]}}</option>
                      </ng-container>

                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-stage">Etapa</label>
                    <select class="custom-select" id="inputGroupSelect03" type="text" name="stage" [(ngModel)]=model.stageName required>
                      <ng-container *ngFor="let item of vStages;let i=index">
                        <option value="{{vStages[i]}}">{{vStages[i]}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="model.isInsert; else insertOut">
              <div class="alert alert-success" role="alert">
                <a>Oferta publicada con éxito.</a>
              </div>
            </div>
            <ng-template #insertOut>
              <div *ngIf="model.registerErrors">
                <ng-container *ngFor="let item of model.registerErrors;let i=index">
                  <div class="alert alert-danger" role="alert">
                    <a>{{model.registerErrors[i].message}}</a>
                  </div>
                </ng-container>
              </div>
            </ng-template>

            <hr class="my-4" />
            <!-- Detalles -->
            <h6 class="heading-small text-muted mb-4">Detalles de la práctica</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-startdate">Fecha de Inicio</label>
                    <input type="date" id="input-startdate" name="name" class="form-control form-control-alternative" placeholder="Fecha de Inicio" [(ngModel)]=model.startDate required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-enddate">Fecha de Fin</label>
                    <input type="date" id="input-enddate" name="name" class="form-control form-control-alternative" placeholder="Fecha de cierre" [(ngModel)]=model.endDate required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Hora de Inicio</label>
                    <input type="time" id="input-startTime" name="startTime" class="form-control form-control-alternative" placeholder="Hora de inicio" [(ngModel)]=model.startTime required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-closedate">Hora de Fin</label>
                    <input type="time" id="input-endTime" name="endTime" class="form-control form-control-alternative" placeholder="Hora de fin" [(ngModel)]=model.endTime required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Total de Días / Semana</label>
                    <input type="number" id="input-totalDays" name="totalDays" class="form-control form-control-alternative" placeholder="Total de Días / Semana" [(ngModel)]=model.totalDays required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-weekDays">Días de la semana</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2" name="weekDays" [(ngModel)]=model.weekDays required>
                      <option value="Lunes">Lunes</option>
                      <option value="Martes">Martes</option>
                      <option value="Miércoles">Miércoles</option>
                      <option value="Jueves">Jueves</option>
                      <option value="Viernes">Viernes</option>
                      <option value="Sábado">Sábado</option>
                      <option value="Domingo">Domingo</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Salario (€)</label>
                    <input type="number" id="input-amount" name="amount" class="form-control form-control-alternative" placeholder="Salario (€)" [(ngModel)]=model.amount required>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
