<div class="header pb-8 pt-5 pt-lg-8" style="min-height: 100px; background-image: url(assets/img/theme/fondoucm.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl order-xl">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Formulario de incidencia</h3>
            </div>
            <div class="col-4 text-right">
              <a (click)=model.insertCaseSF() class="btn btn-sm btn-primary">Enviar Incidencia</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Información del caso</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Asunto</label>
                    <input type="text" id="input-startTime" name="Subject" class="form-control form-control-alternative" placeholder="Asunto" [(ngModel)]=model.subject required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Descripción</label>
                    <textarea rows="10" class="form-control form-control-alternative"  id="input-description" name="description" placeholder="Descripción" [(ngModel)]=model.description required>Empresa dedicada a la pesca</textarea>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="input-priority">Prioridad</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2" name="priority" [(ngModel)]=model.priority required>
                      <option value="Alta" class="p-3 mb-2 bg-danger text-white">Alta</option>
                      <option value="Media" class="p-3 mb-2 bg-warning text-white">Media</option>
                      <option value="Baja" class="p-3 mb-2 bg-success text-white">Baja</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="model.message">
              <div class="alert alert-success" role="alert" style="text-align:center">
                <a style="text-align:center">{{model.message}}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
