<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">TOTAL CANDIDATOS</h5>
                  <span class="h2 font-weight-bold mb-0">{{sizeLeads}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-user-graduate"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Último candidato creado {{dateLeads}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">TOTAL BECARIOS</h5>
                  <span class="h2 font-weight-bold mb-0">{{sizeContacts}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-user-tie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Último becario creado {{dateContacts}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">TOTAL EMPRESAS</h5>
                  <span class="h2 font-weight-bold mb-0">{{sizeAccounts}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                    <i class="fas fa-city"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Última empresa creada {{dateAccounts}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">TOTAL OFERTAS</h5>
                  <span class="h2 font-weight-bold mb-0">{{sizeOpportunities}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-briefcase"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Última oferta creada {{dateOpportunities}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Ofertas en proceso</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre de la oferta</th>
                <th scope="col">Etapa</th>
                <th scope="col">Avance</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of vOpportunities;let i=index">
                <tr>
                  <th scope="row">
                    {{vOpportunities[i].name}}
                  </th>
                  <td>
                    {{vOpportunities[i].stageName}}
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">{{vOpportunities[i].probability}}%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                            [style]="'width:' + vOpportunities[i].probability + '%;'"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <div *ngIf="currentType==='Contact'">
                    <div class="card border-danger mb-3" style="max-width: 10rem; text-align: center;">
                      <div class="card-header">NOTA FINAL</div>
                      <div class="card-body text-danger">
                        <p class="card-text">{{currentUser.mark}}</p>
                      </div>
                    </div>
                  </div>
                </tr>
              </ng-container>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Empresas con convenio UCM</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Web</th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let item of vAccount;let i=index">
                <tr>
                  <th scope="row">
                    {{vAccount[i].accountModel.name}}
                  </th>
                  <td>
                    <a class="nav-link"
                      href="http://{{vAccount[i].accountModel.website}}">{{vAccount[i].accountModel.website}}</a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>