<div *ngIf="currentType==='Contact'">
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 250px; background-image: url(assets/img/theme/fondoucm.png); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
  </div>
  <div class="container-fluid mt--9">
    <div class="row">
      <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Oferta de la beca</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Información empresarial</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-nameOp">Nombre de la oferta</label>
                      <input type="text" id="input-nameOp" class="form-control form-control-alternative"
                        value="{{opportunityContact.name}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-web">Fecha de cierre</label>
                      <input type="date" id="input-web" class="form-control form-control-alternative"
                        value="{{opportunityContact.closeDate}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-type">Tipo</label>
                      <input type="text" id="input-type" class="form-control form-control-alternative"
                        value="{{opportunityContact.type}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-area">Área</label>
                      <input type="text" id="input-area" class="form-control form-control-alternative"
                        value="{{opportunityContact.area}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-stage">Etapa</label>
                      <input type="text" id="input-stage" class="form-control form-control-alternative"
                        value="{{opportunityContact.stageName}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-amount">Salario</label>
                      <input type="text" id="input-amount" class="form-control form-control-alternative"
                        value="{{opportunityContact.amount}} €" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-startDate">Fecha de Inicio</label>
                      <input type="date" id="input-startDate" class="form-control form-control-alternative"
                        value="{{opportunityContact.startDate}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-endDate">Fecha de Fin</label>
                      <input type="date" id="input-endDate" class="form-control form-control-alternative"
                        value="{{opportunityContact.endDate}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-employees">Hora de Inicio</label>
                      <input type="text" id="input-employees" class="form-control form-control-alternative"
                        value="{{opportunityContact.startTime}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-revenue">Hora de Fin</label>
                      <input type="text" id="input-revenue" class="form-control form-control-alternative"
                        value="{{opportunityContact.endTime}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-days">Total de Días / Semana</label>
                      <input type="number" id="input-days" class="form-control form-control-alternative"
                        value="{{opportunityContact.totalDays}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-weekDays">Días de la semana</label>
                      <input type="text" id="input-weekDays" class="form-control form-control-alternative"
                        value="{{opportunityContact.weekDays}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-mark">Nota final</label>
                      <input type="number" id="input-mark" class="form-control form-control-alternative"
                        value="{{currentUser.mark}}" disabled="disabled">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-6 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Empresa de la beca</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Información empresarial</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">Nombre</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.name}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-web">Sitio web</label>
                      <input type="text" id="input-web" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.website}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-cif">Número de la empresa</label>
                      <input type="text" id="input-cif" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.accountNumber}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-phone">Teléfono</label>
                      <input type="text" id="input-phone" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.phone}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-phone">Tipo</label>
                      <input type="text" id="input-type" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.type}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-phone">Sector</label>
                      <input type="text" id="input-type" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.industry}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">Dirección</label>
                      <input type="text" id="input-city" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.billingCity}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-phone">Email</label>
                      <input type="email" id="input-phone" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.email}}" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-employees">Empleados</label>
                      <input type="number" id="input-employees" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.numberOfEmployees}}" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-revenue">Ingresos anuales</label>
                      <input type="text" id="input-revenue" class="form-control form-control-alternative"
                        value="{{accountContact.accountModel.annualRevenue}} €" disabled="disabled">
                    </div>
                  </div>
                </div>
                <div class="pl-lg-0">
                  <div class="form-group">
                    <label class="form-control-label" for="input-description">Descripción</label>
                    <textarea rows="6" class="form-control form-control-alternative"
                      disabled="disabled">{{accountContact.accountModel.description}} </textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ACCOUNT -->
<div *ngIf="currentType==='Account'">
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Empresa</h5>
                    <span class="h2 font-weight-bold mb-0">{{currentUser.name}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                      <i class="fas fa-city"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Nº Ofertas</h5>
                    <span class="h2 font-weight-bold mb-0">{{currentUser.totalOpportunities}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-briefcase"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
          </div>
          <div id="bottom"><a routerLinkActive="active" [routerLink]="['/newOpportunity']" class="btn btn-primary">
              Nueva Oferta</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Dark table -->
    <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Lista de Ofertas</h3>
          </div>
          <div *ngIf="currentUser.totalOpportunities>0">
            <div *ngIf="vLeadOpportunity.length==0; else leads">
              <div class="table-responsive">

                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre de la oferta</th>
                      <th scope="col">Candidatos</th>
                      <th scope="col">Becario elegido</th>
                      <th scope="col">Etapa</th>
                      <th scope="col">Avance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of vOpportunitiesAccount && vContactAccount;let i=index">
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" [src]="secureLogo">
                            </a>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{vOpportunitiesAccount[i].name}}</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          <div id="bottom"><a (click)="getLeads(i)" class="btn btn-outline-primary">Ver</a></div>
                        </td>
                        <td>
                          {{vContactAccount[i].contactModel.firstName}} {{vContactAccount[i].contactModel.lastName}}
                        </td>
                        <td>
                          <span class="badge badge-dot mr-4">
                            <i class="bg-warning"></i> {{vOpportunitiesAccount[i].stageName}}
                          </span>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <span class="mr-2">{{vOpportunitiesAccount[i].probability}}%</span>
                            <div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60"
                                  aria-valuemin="0" aria-valuemax="100"
                                  [style]="'width:' + vOpportunitiesAccount[i].probability + '%;'"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <ng-template #leads>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre del candidato</th>
                      <th scope="col">Titulacion</th>
                      <th scope="col">Email</th>
                      <th scope="col">Teléfono</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of vLeadOpportunity;let i=index">
                      <tr>
                        <td>
                          {{vLeadOpportunity[i].leadModel.firstName}} {{vLeadOpportunity[i].leadModel.lastName}}
                        </td>
                        <td>
                          {{vLeadOpportunity[i].leadModel.titulation}}
                        </td>
                        <td>
                          {{vLeadOpportunity[i].leadModel.email}}
                        </td>
                        <td>
                          {{vLeadOpportunity[i].leadModel.phone}}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LEAD -->
<div *ngIf="currentType==='Lead'">
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Candidato</h5>
                    <span class="h2 font-weight-bold mb-0">{{currentUser.firstName}} {{currentUser.lastName}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                      <i class="fas fa-user-graduate"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Ofertas inscritas</h5>
                    <span class="h2 font-weight-bold mb-0">{{currentUser.totalOpportunities}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                      <i class="fas fa-briefcase"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Ofertas abiertas</h5>
                    <span class="h2 font-weight-bold mb-0">{{currentUser.totalOpportunitiesArea}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-business-time"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- TABLA OFERTAS INSCRITAS -->
    <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Lista de Ofertas en las que estás inscrit@</h3>
          </div>
          <div *ngIf="leadUser.messageDes">
            <div class="alert alert-primary" role="alert" style="text-align:center">
              <a style="text-align:center">{{leadUser.messageDes}}</a>
            </div>
          </div>

          <div *ngIf="currentUser.totalOpportunities>0">
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre de la oferta</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Fecha de cierre</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let item of vOpportunitiesLead && vAccountOpportunity && secureLogos;let i=index">
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                            <div *ngIf="secureLogos[i]">
                              <img alt="" [src]="secureLogos[i]">
                            </div>
                          </a>
                          <div class="media-body">
                            <span class="mb-0 text-sm">{{vOpportunitiesLead[i].name}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        {{vAccountOpportunity[i].accountModel.name}}
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{vOpportunitiesLead[i].closeDate}}
                        </span>
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{vOpportunitiesLead[i].amount}} €
                        </span>
                      </td>
                      <td>
                        {{vOpportunitiesLead[i].type}}
                      </td>
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="javascript:void(0)">Detalles</a>
                            <a class="dropdown-item" (click)=leadUser.deleteOpportunityLeadSF(vOpportunitiesLead[i].id)
                              href="javascript:void(0)">Desinscribirse</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <!-- TABLA OFERTAS POR ÁREA -->
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Lista de Ofertas abiertas en base a tu área</h3>
          </div>
          <div *ngIf="leadUser.messageIns">
            <div class="alert alert-primary" role="alert" style="text-align:center">
              <a style="text-align:center">{{leadUser.messageIns}}</a>
            </div>
          </div>
          <div *ngIf="currentUser.totalOpportunitiesArea>0">
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre de la oferta</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Fecha de cierre</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let item of vOpportunitiesAreaLead && vAccountAreaOpportunity && secureLogosArea;let i=index">
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                            <div *ngIf="secureLogosArea[i]">
                              <img alt="" [src]="secureLogosArea[i]">
                            </div>
                          </a>
                          <div class="media-body">
                            <span class="mb-0 text-sm">{{vOpportunitiesAreaLead[i].name}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        {{vAccountAreaOpportunity[i].accountModel.name}}
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{vOpportunitiesAreaLead[i].closeDate}}
                        </span>
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{vOpportunitiesAreaLead[i].amount}} €
                        </span>
                      </td>
                      <td>
                        {{vOpportunitiesAreaLead[i].type}}
                      </td>
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="javascript:void(0)">Detalles</a>
                            <a class="dropdown-item"
                              (click)=leadUser.insertOpportunityLeadSF(vOpportunitiesAreaLead[i].id)
                              href="javascript:void(0)">Inscribirse</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>